body {
  max-width: 800px;
  margin: 0 auto;
  padding: 2vh;
}

header {
  margin: 0 0 2vh 0;
  padding: 0;
}

header p {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

#main-content {
  margin-bottom: 2vh;
}

#login-form {
  display: flex;
  flex-direction: columns;
}

footer a {
  text-decoration: none;
  color: black;
}
