<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>goppert's ohq</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>
    <style type="text/css" media="screen">
      @import url("/static/styles.css");
    </style>
  </head>
  <body>
    <div id="top">
      <header>
        <p>ohq</p>
      </header>
      <div id="main-content">
        {{if eq .Component "home"}} {{template "components/home" .}} {{else if
        eq .Component "login"}} {{template "components/login" .}} {{else if eq
        .Component "err"}} {{template "components/err" .}} {{end}}
      </div>
    </div>
    <div id="bottom">
      <footer>
        <a href="https://www.github.com/migopp/ohq">github.com/migopp/ohq</a>
      </footer>
    </div>
  </body>
</html>
